<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categorize Project</title>
</head>
<body>

<h2>Categorize Project</h2>

<h3 th:text="${project.title}"></h3>

<form th:action="@{'/projects/' + ${project.id} + '/categorize'}" method="post">


    <!-- CATEGORY -->
    <label>Category:</label>
    <select name="categoryId" required>
        <option th:each="c : ${categories}"
                th:value="${c.id}"
                th:text="${c.name}">
        </option>
    </select>

    <br><br>

    <!-- SKILLS -->
    <label>Skills:</label>
    <select name="skillIds" multiple>
        <option th:each="s : ${skills}"
                th:value="${s.id}"
                th:text="${s.name}">
        </option>
    </select>

    <br><br>

    <button type="submit">Save</button>

</form>