<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
</head>
<body>

<h2>Category Form</h2>

<!-- FORM -->
<form th:action="@{/categories/save}" th:object="${category}" method="post">

    <input type="hidden" th:field="*{id}"/>

    <input type="text"
           th:field="*{name}"
           placeholder="Category name"
           required/>

    <button type="submit">Save</button>
</form>

<hr>


<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<p th:if="${success}" th:text="${success}" style="color:green;"></p>

<h2>Categories List</h2>

<ul>
    <li th:each="c : ${categories}">

        <span th:text="${c.name}"></span>

        <a th:href="@{'/categories/edit/' + ${c.id}}">Edit</a>

        <a th:href="@{'/categories/delete/' + ${c.id}}"
           onclick="return confirm('Are you sure?')">
            Delete
        </a>

    </li>
</ul>

</body>
</html>