<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Change Password</title>
</head>
<body>

<h2>Change Password</h2>

<form th:action="@{/profile/change-password}" method="post">

    <label>Current Password</label>
    <input type="password" name="currentPassword">

    <br><br>

    <label>New Password</label>
    <input type="password" name="newPassword">

    <br><br>

    <label>Confirm Password</label>
    <input type="password" name="confirmPassword">

    <br><br>

    <button type="submit">Change</button>
</form>

</body>
</html>