<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Project</title>
</head>
<body>

<h2>Edit Project</h2>

<form th:action="@{/projects/update}" th:object="${project}" method="post">


    <input type="hidden" th:field="*{id}" />

    <input type="text" th:field="*{title}" placeholder="Title" />

    <br><br>

    <input type="text" th:field="*{description}" placeholder="Description" />

    <br><br>

    <input type="text" th:field="*{link}" placeholder="Link" />

    <br><br>


    <br><br>

    <button type="submit">Update</button>

</form>

</body>
</html>