<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-4 text-center">

        <!-- IMAGE -->
        <img th:if="${profile != null and profile.imageUrl != null}"
             th:src="@{'/uploads/profiles/' + ${profile.imageUrl}}"
             class="rounded-circle mb-3"
             width="150"
             height="150"/>

        <img th:if="${profile == null or profile.imageUrl == null}"
             src="https://via.placeholder.com/150"
             class="rounded-circle mb-3"
             width="150"
             height="150"/>

        <!-- UPLOAD FORM -->
        <form th:action="@{/profile/upload-image}"
              method="post"
              enctype="multipart/form-data"
              class="mb-3">

            <input type="file" name="image"  required>

            <button type="submit">Upload Photo</button>

        </form>

        <!-- NAME -->
        <h2 th:text="${profile.fullName}">Full Name</h2>

        <hr>

        <!-- ABOUT -->
        <div class="mt-3 p-3 bg-light rounded text-start">

            <div class="fw-bold mb-2 text-muted">ABOUT</div>

            <p class="mb-0" th:text="${profile.about}"></p>

        </div>

    </div>

</div>

</body>
</html>