<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Projects</title>
</head>
<body>

<h2>My Projects</h2>


<div th:if="${isAdmin}">
<form action="/projects" method="post">
    <input type="text" name="title" placeholder="Title" required />
    <br>

    <input type="text" name="description" placeholder="Description" required />
    <br>

    <input type="text" name="link" placeholder="Link" />
    <br><br>

    <select name="categoryId" required>
        <option th:each="c : ${categories}"
                th:value="${c.id}"
                th:text="${c.name}">
        </option>
    </select>

    <br><br>

    <button type="submit">Add</button>
</form>

</div>

<hr>

<!--SEARCH-->

<form action="/projects" method="get">

    <input type="text"
           name="search"
           placeholder="Search project">

    <button type="submit">
        Search
    </button>
</form>

<br>

<!--FILTER-->

<form action ="/projects" method="get">

    <select name="category">
        <option value="">All categories</option>

        <option th:each="c:${categories}"
                th:value="${c.id}"
                th:text="${c.name}">

        </option>
    </select>

    <button type="submit">Filter</button>
</form>

<!-- TABLE -->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th th:if="${isAdmin}">Actions</th>
    </tr>

    <tr th:each="project : ${projects}">
        <td th:text="${project.id}"></td>
        <td th:text="${project.title}"></td>
        <td th:text="${project.description}"></td>

        <td>
            <a th:href="${project.link}" target="_blank">Open</a>
        </td>

        <td>
            <!-- EDIT -->
            <div th:if="${isAdmin}">
            <a th:href="@{'/projects/edit/' + ${project.id}}">Edit</a>

            |

            <!-- DELETE -->
            <a th:href="@{'/projects/delete/' + ${project.id}}">Delete</a>

            <a th:href="@{'/projects/categorize/' + ${project.id}}">Categorize</a>


            </div>


    </tr>
</table>


</body>
</html>